.client-rating {
  font-family: var(--font-family);
  padding-top: 62px; /*Header height*/
}

.client-rating-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
}

.client-rating-table td {
  font-weight: bold;
  text-align: left;
  padding: 20px;
}

.rating-NextPage-btn {
  background: #4285f4;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 150px;
  height: 50px;
  color: white;
  font-family: var(--font-family);
  font-size: 20px;
}

.rating-NextPage-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.rating-NextPage-btn-container {
  float: right;
  margin-right: 10px;
  margin-top: 50px;
}

#feed-back-textarea {
  margin-top: 10px;
  text-align: left;
  padding: 10px;
  resize: none;
  border-radius: 10px;
  width: 100%;
}

/* Min -> added styles */
.five-start-rating
{
  float: left;
  margin-left: 100px;
}
