@import url("https://fonts.googleapis.com/css?family=Actor");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global CSS variables */
:root {
  --color-bg-gradient: linear-gradient(
    180deg,
    rgba(130, 102, 135, 0.92) 7.81%,
    rgba(156, 69, 101, 0.73) 39.58%,
    rgba(226, 126, 89, 0.68) 70.83%,
    rgba(240, 188, 93, 0.68) 100%
  );

  --font-family: "Actor";

  --color-bg: rgb(130, 102, 135);
}
