.payment-page {
  font-family: var(--font-family);
  padding-top: 62px; /*Header height*/
}

.payment-heading {
  font-weight: bold;
}

.due-amount-wrapper {
  margin-left: 35%;
}
.card-details-wrapper {
  margin-left: 35%;
}

.due-amount-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 33%;
  border-radius: 10px;
  background: #e9e9e9;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.payment-NextPage-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.payment-NextPage-btn-container {
  float: right;
  padding: 10px;
  padding-top: 100px;
}
