/* The header Div backgound spacing */
.header{
    padding: 7px;
    align-content: space-evenly;
    background: var(--header-gradient);
}

/* Logo and account image -> Resizing image */
img{
    width: 50px;
    height: 50px;
}

/* Logo table spacing in header div */
.logo{
    width: 80px;
    text-align: left;
}

/* Home Button table alligmnet */
.home{
    padding: 14px 14px;
    vertical-align: middle;
}

/* Membership Button table alligmnet */
.membership{
    padding: 14px 14px;
    vertical-align: middle;
}


/* pay-on-demand Button table alligmnet*/
.payondemand{
    padding: 14px 14px;
    vertical-align: middle;
}


/* More Button table alligmnet */
.more{
    padding: 14px 14px;
    vertical-align: middle;
}


/* Accout image allignment */
.account{
    float: right;
    vertical-align: middle;
    margin-right: 20px; /* Min -> make more space on the right */
}

/* list styling */
ul{
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
  }

/* styling the <a> (link) tags */  
  li a {
    color: white;
    font-size: large;
    text-align: center;
    text-decoration: none;
  }

/* Min -> For logout */
ul.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
}
  
li.account:hover ul.dropdown {
    display: block;
}
  
ul.dropdown button {
    padding: 5px;
    display: block;
    background-color: white;
    border: none;
    font-family: "Actor";
    font-size: 15px;
}