body.RegisterPage {
  background: var(--color-bg-gradient);
}

.register {
  padding: 12px, 20px;
  font-family: var(--font-family);
  /* Min -> Fix overlapped css */
  border-radius: 0%;
  background-color: none;
  box-shadow: none;
}

.register__container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 700px;
  padding: 20px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  box-sizing: border-box;
  background: #e9e9e9;
}

.register__input {
  width: 100%;
  padding: 10px;
  text-align: left;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.register__input[type="text"] {
  padding: 10px;
  text-align: left;
  width: 100%;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.register input:focus,
.register input:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.register-btn {
  padding: 10px;
  margin-block-start: 25px;
  width: 90%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background: #4285f4;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: lighter;
  color: white;
}

.register-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.register form {
  position: relative;
  display: block;
  margin: 0;
  padding: 10px;
}

.register label {
  font-weight: 400;
  display: inline-block;
  width: 100%;
  text-align: left;
}

/*Min -> dropdown list*/
.register select {
  float: left;
  width: 150px;
  height: 25px;
  font-size: 18px;
  font-family: var(--font-family);
}
